kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx-deployment
  namespace: nginx
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      name: nginx-deployment-pod
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80   
      volumeMounts:
      - mountPath: /var/www/html
        name: nginx-my-volume
      volumes:
      - name: local-pv-claim-my-volume
        persistentVolumeClaim:
          claimName: local-pv-claim