apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-simple-project-ingress
  namespace: nginx
  # annotations:
  #   nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  # - host: nginx-simple-project.local
  - http:
      paths:
      - pathType: Prefix
        path: /nginx
        backend:
          service:
            name: nginx-service
            port:
              number: 80
      - pathType: Prefix
        path: /app
        backend:
          service:
            name: hello-service
            port:
              number: 80